<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Raleway|Slabo+27px" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.css"/>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Calendar links-->
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src="/vendor/full-calendar-3.6.2.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.js"></script> -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
