<% include ./parts/_head %>
<% include ./parts/_header %>

<div class="container-flex-wrap med-margin-top">
  <div id='calendar'></div>

  <section id="event-edit-form">
    <form id="confirm_avail_form" action="/:event_id/votes" action="POST">
      <div class="form-input focused">
        <p>Your Name</p><p>:</p>
        <input id="guestName" type="text" placeholder="Let the fam know you're going!" name="guestName">
      </div>
      <div class="form-input">
        <p>Your Email</p><p>:</p>
        <input id="email-input" type="email" placeholder="Email (not required)" name="email">
      </div>

      <div class="button"><div  id='confirm_avail'>Submit</div></div>
    </form>
    <div>
      <div class="button voting-page"><div hidden id='edit_avail'>Edit availability</div></div>

      <div>
        <div class="button voting-page"><div hidden id='cancel_edit'>Cancel changes</div></div>

        <div class="button voting-page"><div hidden id='confirm_changes'>Confirm changes</div></div>
      </div>
      <div class="button voting-page"><div hidden id='confirm_event_changes'>Confirm Event Changes</div></div>

      <div><div hidden id="edit-event">Edit Event</div></div>
    </div>
  </section>
</div>

<div class='invite' id='invite'>
  <p style="text-align: center;"><script>$('.invite p').append(window.location.href)</script></p>
  <div class="button"><div hidden id='invite_button'>Invite more peeps</div></div>
</div>



<% include ./parts/_footer %>







