/*CALENDAR CALENDAR CALENDAR CALENDAR*/

#calendar {
  color: $c3;
  width: 600px;
}

.selected.selected {
  background: $selected-color;
}

.event-day {
  background: rgba(223,242,251,0.53);
}

.fc-toolbar .fc-left {
  color: $c3;
}

.fc-unthemed td.fc-today {
  background: $today-color;
  &.selected {
    background: $selected-color;
  }
}

.fc-day {
  transition: all .2s ease-out;
  &fc-past {
    opacity: 0.9;
  }
  &.fc-past {
    background: $c4;
  }
  &.creating {
    &:hover {
      background: $cal-hover;
    }
  }
  &.event-day.voting-enabled {
    &:hover {
      background: $cal-hover;
    }
  }
}

td.fc-today.fc-day.creating {
  &:hover {
    background: $cal-hover;
  }
}

.fc-day-top {
  &.fc-past {
    opacity: 0.2;

  }
}

.fc-day-top.fc-other-month {
  opacity: .5;
}

.fc-row .fc-content-skeleton {
  z-index: 0;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  font-size: .8em;
}

.fc-day-grid-container {
  height: auto !important;
}

.fc-state-default {
  background-image: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.fc-state-disabled {
  opacity: 0;
}

