/* VARIABLES VARIABLES VARIABLES VARIABLES  */

$form-font-size: 1.1em;
$main: black;
$form-color: #555;

$c1: #FAFAFA;
$c2: #e1fcf1;
$c3: #757575;
$c4: #ff6b6b1a;
$c5: #424242;

$today-color: rgba(199,255,231,0.5);
$selected-color: rgba(152,234,134,0.5);
$cal-hover: rgba(152,234,134,0.4);
